html{
    font-family: "Tasa Orbiter", sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    background-color: #121212;
    color: #d6d6c2;
    margin: 0;
    padding: 0;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
.categories{
  display: flex;
  flex-direction: column;
  min-width: fit-content;
  margin-left: 1rem;
  padding: .25rem;
  margin-top: 0;
  padding-top: 0;
}
.categories a{
  text-decoration: none;
  color: #d6d6c2;
  background-color: cornflowerblue;
  margin: 2px;
  padding: .3rem;
}
.categories a:hover {
  background-color: rgb(85, 126, 201);
}
