@media (width >=601px){
    .page-container{
        display: flex;
        justify-content: center;
    }

}
.products{
 /*    display: flex;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    margin: 5rem;
    margin-top: 0;
    padding: 0;
}
.product{
    list-style: none;
    margin: 2px;
    padding: .25rem;
    background-color: lightgray;
    color: black;
}
.product p{
    margin-top: 0;
}
.product h2 {
    background-color: cornflowerblue;
    margin: 0px;
    padding: .25rem;
}
footer{
    display: flex;
    justify-content: space-between;
    background-color: cornflowerblue;
}
footer button{
    background-color: rgb(76, 114, 185);
    border: 0;
    border-radius: 100%;
    margin: .5rem;
    height: 2.5rem;
    width: 2.5rem;
}
footer button:hover {
    background-color: rgb(68, 101, 163);
    cursor: pointer;
}
dl{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: .5rem;
    dt{
        font-weight: bold;
    }
    dd{
       margin-inline-start: 1ch; 
    }
}
figure{
    display: flex;
    margin: 0px;
    margin-top: 0;
    padding: 0;
    height: 200px;
}
figure img{
    width: 100%;
    object-fit: cover;
}
